{{#section 'head'}}

{{/section}}


<h1>about page</h1>
<!--{{#each users}}-->
    <!--hello {{name}}!-->
    <!--{{/each}}-->
hello {{{user}}}!


{{#section 'customjs'}}
    <script></script>
{{/section}}










