{{#section 'head'}}

{{/section}}

<!--<h1>contact page</h1>-->
<!--<p>We're testing some jQuery stuff.</p>-->
<!--{{> discount}}-->
{{! super-secret comment 在源代码内看不见的注释}}
<!-- super-secret comment 在源代码内能看见的注释-->

<!-- 邮件 -->
<!-- action="/路由" method="POST"-->
<form class="form-horizontal" action="/send-email" method="POST">
    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">主题</label>
        <div class="col-sm-10">
            <input type="text" name="subj" class="form-control" id="inputEmail3" placeholder="主题">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">收件人</label>
        <div class="col-sm-10">
            <input type="email" name="to" class="form-control" id="inputPassword3" placeholder="收件人">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <textarea name="body"></textarea>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">send</button>
        </div>
    </div>
</form>

{{#section 'customjs'}}
    <script></script>
{{/section}}
