header{
    height:55px;
}
main{
    /*height:900px;*/
}
main h1{
    margin-top:50px;
}
/******注册框******/
#signupList{
    border: 1px solid gray;
    width: 620px;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px gray;
    margin-top:50px;
}
#errorMsg-phone,#errorMsg-pwd,#errorMsg-repwd,#errorMsg-validate{
    display: none;
}













